<form class="box login">
	<fieldset class="boxBody">
	  <label for="username">Username</label>
	  <input type="text" tabindex="1" placeholder="Username" required value="<%= username %>" name="username" id="username">
	  <label for="password"><a href="#" class="rLink" tabindex="5">Forget your password?</a>Password</label>
	  <input type="password" id="password" name="password" placeholder="Password" tabindex="2" required value="<%= password %>">
	</fieldset>
	<footer>
	  <label><input type="checkbox" tabindex="3">Keep me logged in</label>
	  <input type="submit" class="btnLogin" value="Login" tabindex="4">
	</footer>
</form>